<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meet-Pup | Register</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Varela+Round&display=swap" rel="stylesheet">
  </head>
  <script type='text/javascript'>
    function toggle_button(name) {
      if ($('.tag_btn_' + name).css('color') == "rgb(153, 153, 153)") {
        $('.tag_btn_' + name).css('color', '#e6a53e').css('border-color', '#fcc369');
        $('.tag' + name + '_check').prop("checked", true);
      }
      else {
        $('.tag_btn_' + name).css('color', '#999999').css('border-color', '#dddddd');
        $('.tag' + name + '_check').prop("checked", false);
      }
    }
  
  </script>
  <body class="background-blank">
   <div class="h-100 row my_profile_row" style="min-height: 1300px">
      <div class="font-satisfy" id="register-title"> Meet-Pup </div>
      
      <div class="col">
        <div class="register-container-profile">
        </div>
      </div>

      <div class="col">
        <div class="register-container-profile">
            <div class="upload-profile-pic"></div>
            <div class="image-upload">
               <label for="file-input" class="font-valera img-upload-btn">
                 UPLOAD
               </label>
            
              
            </div>

        </div>
      </div>
      
      <div class="col">
        <form action="/dogs" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="oBVqNi+BURnRwvcRbv0WVf0IViLshlL/LPLjAfxL0OrmFPhVWBeDyTFsDHaLi/LLizpbds+fFK1v3y6Kcolj9A==" />
        <div class="register-container-profile" style="padding-left: 15px; padding-right: 15px;">
      

            
            <label for="name">Dog Name</label>
            <input type="text" name="dog[name]" id="name" class='form-control field-input'>
         
         
        
            <div class="field">
              <label for="dog_age">Age</label>
              <input type="number" name="dog[age]" id="dog_age" class='form-control field-input'>
            </div>
            

            <div class="field">
              <label for="dog_gender">Gender</label>
              <!--<input type="input" name="dog[gender]" id="dog_gender">-->
              
              <select name="dog[gender]"  class="field-input">
                <option disabled selected value value="Select One">Select One</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>

            </div>
  
            <div class="field">
              <label for="dog_breed">Breed</label>
              <input type="text" name="dog[breed]" id="dog_breed" class='form-control field-input'>
            </div>
    
    
            <div class="field">
              <label for="dog_weight">Weight</label>
              <input type="number" name="dog[weight]" id="dog_weight" class='form-control field-input'>
            </div>
            

  
          <input type="checkbox" value="1" name="dog[playful]" id="dog_playful" class='tag1_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[energetic]" id="dog_energetic" class='tag2_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[friendly]" id="dog_friendly" class='tag3_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[calm]" id="dog_calm" class='tag4_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[barker]" id="dog_barker" class='tag5_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[child_friendly]" id="dog_child_friendly" class='tag10_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[cat_friendly]" id="dog_cat_friendly" class='tag11_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[likes_small_dogs]" id="likes_small_dogs" class='taga_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[likes_big_dogs]" id="likes_big_dogs" class='tagb_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[likes_puppies]" id="likes_puppies" class='tagc_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[likes_soul_mate]" id="likes_soul_mate" class='tagd_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[likes_younger_dogs]" id="likes_younger_dogs" class='tage_check hidden_checkbox'/>
          <input type="checkbox" value="1" name="dog[likes_older_dogs]" id="likes_older_dogs" class='tagf_check hidden_checkbox'/>


            <br>
          
            <label for="traits">I am...</label>
            <br>
            <button type="button" onclick="toggle_button('1')" class='font-valera tag-button tag_btn_1'>Playful</button>
            <button type="button" onclick="toggle_button('2')" class='font-valera tag-button tag_btn_2'>Energetic</button>
            <button type="button" onclick="toggle_button('3')" class='font-valera tag-button tag_btn_3'>Friendly</button>
            <button type="button" onclick="toggle_button('4')" class='font-valera tag-button tag_btn_4'>Calm</button>
            <button type="button" onclick="toggle_button('5')" class='font-valera tag-button tag_btn_5'>Affectionate</button>
            <button type="button" onclick="toggle_button('6')" class='font-valera tag-button tag_btn_6'>Cuddly</button>
            <button type="button" onclick="toggle_button('7')" class='font-valera tag-button tag_btn_7'>Intelligent</button>
            <button type="button" onclick="toggle_button('8')" class='font-valera tag-button tag_btn_8'>Curious</button>
            <button type="button" onclick="toggle_button('9')" class='font-valera tag-button tag_btn_9'>Sassy</button>
            <button type="button" onclick="toggle_button('10')" class='font-valera tag-button tag_btn_10'>Child Friendly</button>
            <button type="button" onclick="toggle_button('11')" class='font-valera tag-button tag_btn_11'>Cat Friendly</button>

            <br> <br> 
            
             <label for="lookingfor">Looking for...</label>
            <br>
            <button type="button" onclick="toggle_button('a')" class='font-valera tag-button tag_btn_a'>Small Dogs</button>
            <button type="button" onclick="toggle_button('b')" class='font-valera tag-button tag_btn_b'>Big Dogs</button>
            <button type="button" onclick="toggle_button('c')" class='font-valera tag-button tag_btn_c'>Puppies</button>
            <button type="button" onclick="toggle_button('d')" class='font-valera tag-button tag_btn_d'>A Soul Mate</button>
            <button type="button" onclick="toggle_button('e')" class='font-valera tag-button tag_btn_e'>Younger Dogs</button>
            <button type="button" onclick="toggle_button('f')" class='font-valera tag-button tag_btn_f'>Older Dogs</button>

            <br> <br> <br>

          
        </div>
        
        <div class="actions">
            <input type="submit" name="commit" value="Submit" data-disable-with="Create Dog" class="font-valera field-button" />
          </div>
          
        </form>
      </div>
      
      <div class="col">
        <div class="register-container-profile">
        </div>
      </div>
      
    </div>
  </body>
</html>