<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meet-Pup | Login</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body class="background">
   <div class="h-100 row align-items-center">
      <div class="font-satisfy" id="login-title"> Meet-Pup </div>
      <div class="font-satisfy" id="login-subtitle"> meet your pup mate </div>
      <div class="col">
        <div class="login-container">
          <br> <br> <br>
          <form action="/" method="get" id="form-login">
            <input class="font-valera" id="field-input" type="text" name="Email" placeholder="Email"> <br>
            <input class="font-valera" id="field-input" type="password" name="Password" placeholder="Password"> <br>
          </form>
          <button class="font-valera" id="field-button" type="submit" form="form-login" value="Submit"> LOG IN </button>
          <div class="register-link">
            <a class="font-valera" href="/pages/register"> CREATE A NEW ACCOUNT </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>